name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
        - name: Deploy to Server
          uses: appleboy/ssh-action@v1.0.3
          with:
              host: ${{ secrets.SSH_HOST }}
              username: ${{ secrets.SSH_USERNAME }}
              key: ${{ secrets.SSH_PRIVATE_KEY }}
              port: 22
              debug: true
              script: |
                whoami
                pwd
                ls -la
        - name: Setup SSH Agent
          uses: webfactory/ssh-agent@v0.8.0
          with:
              ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

        - name: Test SSH Connection
          run: |
                ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} "echo 'SSH connection successful'"
