name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /home/ubuntu
            # Remove the existing app directory to avoid clone errors
            rm -rf app
            git clone https://github.com/saran625/ecommerce-fullstack.git app
            cd app
            
            # Fix frontend dependencies
            cd frontend
            npm install
            cd ..
            
            sudo docker-compose down
            sudo docker-compose up --build -d
